@using Seafood.Domain.Common.Enum;
@using Seafood.Domain.Common.Extentions;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/assets/css/order.css" rel="stylesheet" />
    <style>
        textarea {
            display: block;
            width: 100%;
            padding: 0.375rem 2.25rem 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: right 0.75rem center;
            background-size: 16px 12px;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
            textarea:focus {
                border-color: #86b7fe;
                outline: 0;
                box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
            }
    </style>
</head>
<body>
    @Html.AntiForgeryToken()
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="mdc-card p-0">
                    <h6 class="card-title card-padding pb-0">
                        <i class="icon-title fa fa-users" aria-hidden="true"></i>
                        Quản lý đơn hàng
                    </h6>
                    <div class="box-header-filter container">
                        <div class="row">
                            <div class="col-2">
                                <input type="text" class="form-control" id="filterMobile" placeholder="Số điện thoại" />
                            </div>
                            <div class="col-2">
                                <input type="text" class="form-control" id="filterCode" placeholder="Mã đơn hàng" />
                            </div>
                            <div class="col-2">
                                <select id="filterStatus" class="form-select" aria-label="Default select example">
                                    @{
                                        <option value="-1">-- Tất cả --</option>
                                        foreach (var item in Enum.GetValues(typeof(StatusOrderEnum)))
                                        {
                                            <option value="@((int)item)"> @StringExtension.GetDescription((Enum)item)</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-1">
                                <button onclick="filterTable()" class="mdc-button mdc-button--outlined outlined-button--success mdc-ripple-upgraded">
                                    <i class="material-icons mdc-button__icon">search</i>
                                    Tìm kiếm
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="container-table">
                        <div>
                            <table id="tbl-orders" class="mdl-data-table"></table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    @*Popup modal add handleOrders*@
    <div class="modal" tabindex="-1" role="dialog" id="handleOrders">
        <div class="modal-popup modal-dialog" role="document">
            <div class="modal-content">
                <button style="margin-top:-25px;margin-right:-20px;" class="aria-hidden close" aria-label="Close">
                    <span onclick="CloseModalHandleOrder()" style="float: right; font-size: 28px;" aria-hidden="true">&times;</span>
                </button>
                <div class="box-processing-line">
                    <label>Chuyển trạng thái:</label>
                    <select id="onchage_status" class="form-select" onchange="selectStatusOnchage()" aria-label="Default select example">
                        @{
                            foreach (var item in Enum.GetValues(typeof(StatusOrderEnum)))
                            {
                                <option value="@((int)item)"> @StringExtension.GetDescription((Enum)item)</option>
                            }
                        }
                    </select>
                </div>
                <div style="display:none;" id="box_datetimepicker" class="box-processing-line">
                    <label>Dự kiến thời gian giao hàng:</label> <br />
                    <input id="datetimepicker" type="text" placeholder="__/__/____">
                </div>
                <textarea id="note_order" name="note_order" rows="3" maxlength="200" placeholder="Ghi chú"></textarea>
                <div class="box-btn-handle-order">
                    <div class="click-btn">
                        <button class="btn-core-cancle">Hủy</button>
                        <button class="btn-core-accept">Đồng ý</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var modal = document.getElementById("handleOrders");
        jQuery('#datetimepicker').datetimepicker({
            format: 'd/m/Y H:i'
        });
        var idTbl;
        var tbl;
        $(document).ready(function () {
            tbl = $('#tbl-orders').DataTable({
                      autoWidth: true,
                      responsive: true,
                      processing: true,
                      paging: true,
                      serverSide: true,
                      filter: false,
                      orderMulti: false,
                      order: [[1, "asc"]],
                      searching: true,
                      lengthChange: false,
                      ajax: {
                          url: "@Url.Action("GetListOrder", "Order")",
                          type: "POST"
                      },
                      columnDefs: [
                          { targets: 0, visible: false, searchable: false, orderable: false },
                          { targets: 1, width: "15%" },
                          { targets: 2, width: "10%", searchable: false, orderable: false },
                          { targets: 3, width: "10%", searchable: false, orderable: false },
                          { targets: 4, visible: false, searchable: false, orderable: false },
                          { targets: 5, width: "10%", searchable: false, orderable: false },
                          { targets: 6, width: "10%", searchable: false, orderable: false },
                          { targets: 7, width: "10%", searchable: false, orderable: false },
                          { targets: 8, width: "10%", searchable: false, orderable: false },
                          { targets: 9, width: "10%", searchable: false, orderable: false },
                          { targets: 10, width: "10%", searchable: false, orderable: false },
                          { targets: 11, width: "10%", searchable: false, orderable: false },
                          { targets: 12, width: "10%", searchable: false, orderable: false },
                          { targets: 13, width: "10%", searchable: false, orderable: false },
                          { targets: 14, width: "10%", searchable: false, orderable: false },
                          { targets: 15, width: "10%", searchable: false, orderable: false },
                          { targets: 16, width: "10%", searchable: false, orderable: false },
                          { targets: 17, width: "10%", searchable: false, orderable: false },
                          { targets: 18, width: "10%", searchable: false, orderable: false },
                      ],
                      columns: [
                          { data: "Id", name: "Id" },
                          { title: "Tên người dùng", data: "DisplayName", name: "DisplayName" },
                          { title: "Số điện thoại", data: "Mobile", name: "Mobile" },
                          { title: "Mã đơn hàng", data: "Code", name: "Code" },
                          { data: "Status", name: "Status" },
                          { title: "Trạng thái", data: "StrStatus", name: "StrStatus" },
                          { title: "Địa chỉ giao hàng", data: "DeliveryAddress", name: "DeliveryAddress" },
                          { title: "Sản phẩm", data: "Product", name: "Product" },
                          { title: "Số lượng", data: "Quantity", name: "Quantity" },
                          { title: "Chế biến", data: "ProdProcessingsName", name: "ProdProcessingsName" },
                          { title: "Giá chế biến", data: "ProdProcessingsPrice", name: "ProdProcessingsPrice" },
                          { title: "Voucher", data: "Voucher", name: "Voucher" },
                          { title: "Tổng giá", data: "TotalPrice", name: "TotalPrice" },
                          { title: "Thời gian đặt", data: "TimeOrder", name: "TimeOrder" },
                          { title: "Thời gian ship", data: "StartDeliveryTime", name: "StartDeliveryTime" },
                          { title: "Dự tính giao hàng", data: "EstimateDeliveryTime", name: "EstimateDeliveryTime" },
                          { title: "Giao hàng thành công", data: "SuccessfulDeliveryTime", name: "SuccessfulDeliveryTime" },
                          { title: "Thời gian hủy", data: "CancellationTime", name: "CancellationTime" },
                          { title: "Thời gian cập nhật", data: "UpdatedAt", name: "UpdatedAt" },
                          {
                              title: "Thao tác", searchable: false, orderable: false, render: function (data, type, full, meta) {
                                  var render = '';
                                  render += '<button type="button" class="custom-btn-mdc-button" style="" title="Xử lý" onclick="handleWithOrders(\'' + full.Id + '/' + full.Status + '\')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>';
                                  return render;
                              }
                          }
                      ]
                  });
        })

        function filterTable() {
            tbl.columns(3).search($("#filterCode").val())
                .columns(2).search($("#filterMobile").val())
                .columns(4).search(document.getElementById("filterStatus").value)
                .draw();
        }

        function handleWithOrders(infoRow) {
            var index = infoRow.indexOf('/');
            let status = infoRow.substring(index + 1);
            idTbl = infoRow.substring(0,index);
            var selId = document.getElementById("onchage_status");
            selId.value = status;
            if (selId.value == @((int)StatusOrderEnum.DangVanChuyen)) {
                document.getElementById("box_datetimepicker").style.display = "block";
            }
            else {
                document.getElementById("box_datetimepicker").style.display = "none";
            }
            modal.style.display = "flex";
        }
        function CloseModalHandleOrder() {
            modal.style.display = "none";
        }
        $('.btn-core-cancle').click(function (e) {
            modal.style.display = "none";
        });
        function selectStatusOnchage() {
            var status = document.getElementById("onchage_status").value;
            if (status == @((int)StatusOrderEnum.DangVanChuyen)) {
                document.getElementById("box_datetimepicker").style.display = "block";
            }
            else {
                document.getElementById("box_datetimepicker").style.display = "none";
            }
        }
        $('.btn-core-accept').click(function (e) {
            var status = document.getElementById("onchage_status").value;
            var datetime = $('#datetimepicker').val();
            var note = $('#note_order').val();
             ShowOverlay(true);
                $.ajax
                ({
                    type: "POST",
                    data: {
                        idTbl: idTbl,
                        status: status,
                        datetime: datetime,
                        note: note,
                        "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]')[0].value,
                    },
                    url: "@Url.Action("ExecuteOnChangeOrder", "Order")",
                    success: function (data) {
                        hideOverlay();
                        modal.style.display = "none";
                        if (data.Success)
                        {
                            showToasinette_Success_Top_Right(data.Message);
                            $('#tbl-orders').DataTable().ajax.reload();
                        }
                        else
                        {
                            showToasinette_Error_Top_Right(data.Message);
                        }
                    }
                })
        });
    </script>
</body>
</html>



